@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


:root {
    --background-default-color: rgb(36, 36, 36);
    --info-color: #131313;
}

/* SCROLLBAR */
/* Width/largeur */
::-webkit-scrollbar {
    width: 7px;
}
  
/* Track */
::-webkit-scrollbar-track {
border-radius: 10px;

}

/* Handle */
::-webkit-scrollbar-thumb {
background: rgb(87, 87, 87);
border-radius: 10px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: rgb(130, 130, 130);

}




label, p, h1 {
    color: white;
}

label {
    font-size: 13px;
}



body {
    width: 300px;
    height: 470px;
    background-color: var(--background-default-color);
    margin: 0;
    overscroll-behavior: contain;
}


h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}





#info img {
    position: absolute;
    top: 7px;
    right: 9px;
    width: 23px;
    height: auto;
    filter: invert(100%);
}

#info img:hover {
    cursor: pointer;
}

#info p {
    position: absolute;
	display: none;
	color: white;
    background-color: var(--info-color);
	border: 3px var(--info-color);
	border-radius: 5px;
    z-index: 2;
    width: 88%;
    height: 83%;
    left: 0;
    right: 0;
    top: 50px;
    margin-left:auto;
    margin-right:auto;
    transition: all .2s;
    padding: 4px 10px;
    font-size: 15px;
}

#info p a {
    color: rgb(0, 162, 255);
    text-decoration: none;
}

#info p a:hover {
    text-decoration: underline;
    text-decoration-color: white;
}

#info p h2 {
    margin: 2px 0px 10px 0px;
    text-decoration: underline;
    text-decoration-color: white;
}

#fleche {
	display: none;
	position: absolute;
	width: 0; 
  	height: 0;
    top: 53px;
    right: 20px;
  	border-left: 10px solid transparent;
  	border-bottom: 10px solid var(--info-color); 
  	border-right:10px solid transparent;
}









select {
    height: 25px;
    /*box-shadow: rgba(255, 255, 255, 0.8) 6px 2px 10px 0px, rgba(136, 165, 191, 0.48) -6px -2px 10px 0px;*/
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: none;
    padding-left: 10px;
    height: 35px;
}


option {
    height: 40px;
}








.selecteur {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 8px 10px;
    appearance: none;
}




label {
    margin: 3px 0px;
    z-index: 1;
}

#classe {
    width: 100px;
}

#matiere {
    width: 230px;
}

#edition {
    width: 130px;
}


/* Bouton */

#btn_rechercher {
    margin: 23px auto 11px auto;
	border: none;
	box-shadow: none;
	padding: 10px 25px;
	background: #333;
	color: #FFF;
	font-size: 16px;
	cursor: pointer;
    transition: all .1s;
    display: flex;
    justify-content: center;
}

#btn_rechercher:hover {
    background: #00BCD4;
}


/* div lien manuels */
#liens_manuels {
    margin-left: 4px;
}

#liens_manuels a {
    font-size: 13px;
    color: blue;
    text-decoration: none;
}

#liens_manuels a:hover {
    color: red;
}

#liens_manuels img {
    height: 130px;
    width: auto;
    margin: 12px;
    box-shadow: rgba(0, 0, 0, 0.8) 5px 12px 25px;
    transition: all .3s;
    position: relative;
}
    

#liens_manuels {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#liens_manuels label {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

#liens_manuels div {
    position: relative;
    text-align: center;

}

#liens_manuels div:hover label  {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

#liens_manuels div:hover img  {
    opacity: 30%;
    transform: scale(1.07);
    filter: blur(1px);
    
}

